<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
	<!-- <logger name="org.cometd" level="TRACE" /> -->
	<!-- <logger name="com.netceler.iv5.workspace" level="TRACE" /> -->
	
</configuration>